@import url('https://fonts.googleapis.com/css?family=Agdasima&display=swap');

body{
  font-family:Agdasima, serif;
  background: linear-gradient(18deg, #000 15%, #fff 100%);
}
.sidebar{
  color: #fff;
  background: linear-gradient(40deg, #000 15%, #fff 100%);
}
.card{
  background: linear-gradient(40deg, #000 15%, #fff 100%);
  color:aqua;
}
.megia-links{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid{
 color: aliceblue;
}

.call-anim {
  animation: myAnim 2s ease 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}     
.pay-1{
  color: #fff;
}
  .card-text{
    color:#fff;
  }

  
 
